name: Deploy FastAPI to Cloud Run

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Build & Deploy
        run: |
          gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/fastapi
          gcloud run deploy fastapi-service \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/fastapi \
            --region asia-southeast1 \
            --platform managed \
            --allow-unauthenticated
